[submodule "design_report_mono"]
	path = design_report_mono
	url = https://github.com/xmarts/design_report_mono.git
[submodule "mono_reports"]
	path = mono_reports
	url = https://github.com/xmarts/mono_reports.git
[submodule "add_clabe"]
	path = add_clabe
	url = https://github.com/xmarts/add_clabe.git
[submodule "reporte-cotizacion"]
	path = reporte-cotizacion
	url = git@github.com:xmarts/reporte-cotizacion.git
[submodule "invoice_report_design"]
	path = invoice_report_design
	url = git@github.com:xmarts/invoice_report_design.git
[submodule "mod_estructura_crm"]
	path = mod_estructura_crm
	url = https://github.com/xmarts/mod_estructura_crm.git
[submodule "date_crm"]
	path = date_crm
	url = https://github.com/xmarts/date_crm.git
[submodule "formatos_monopark"]
	path = formatos_monopark
	url = https://github.com/xmarts/formatos_monopark.git
[submodule "carpeta_ventas_monopark"]
	path = carpeta_ventas_monopark
	url = https://github.com/xmarts/carpeta_ventas_monopark.git
[submodule "car_ventas_mono"]
	path = car_ventas_mono
	url = https://github.com/xmarts/car_ventas_mono.git
[submodule "carpeta_compras_monpark"]
	path = carpeta_compras_monpark
	url = https://github.com/xmarts/carpeta_compras_monpark.git
[submodule "carpeta_reporte_inventario"]
	path = carpeta_reporte_inventario
	url = https://github.com/xmarts/carpeta_reporte_inventario.git
[submodule "carpeta_report_sale"]
	path = carpeta_report_sale
	url = https://github.com/xmarts/carpeta_report_sale.git
[submodule "minutas"]
	path = minutas
	url = https://github.com/xmarts/minutas.git
[submodule "sale_simplifier"]
	path = sale_simplifier
	url = git@gitlab.com:xmarts/xmarts-apps/sale_simplifier.git
[submodule "office_supplies"]
	path = office_supplies
	url = git@gitlab.com:xmarts/xmarts-apps/office_supplies.git
[submodule "uuid_provider_invoice"]
	path = uuid_provider_invoice
	url = git@gitlab.com:xmarts/uuid_provider_invoice.git
[submodule "purchase-discount"]
	path = purchase-discount
	url = git@github.com:xmarts/purchase-discount.git
[submodule "signature-on-purchase-order"]
	path = signature-on-purchase-order
	url = git@github.com:xmarts/signature-on-purchase-order.git
