[submodule "design_report_mono"]
	path = design_report_mono
	url = https://github.com/xmarts/design_report_mono.git
[submodule "mono_reports"]
	path = mono_reports
	url = https://github.com/xmarts/mono_reports.git
[submodule "add_clabe"]
	path = add_clabe
	url = https://github.com/xmarts/add_clabe.git
[submodule "reporte-cotizacion"]
	path = reporte-cotizacion
	url = git@github.com:xmarts/reporte-cotizacion.git
